@model IEnumerable<Infraestructure.Models.Usuarios>

@{
    ViewBag.Title = "Mantenimiento de Usuarios";
}

<div data-aos="fade-up">
    <h2 class="text-center">@ViewBag.Title</h2>
    <button class="btn btn-primary" onclick="CrearUsuario()"><i class="fa-solid fa-plus"></i> Añadir Nuevo Usuario</button>
    <hr />

    <div>
        <span class="glyphicons glyphicons-hand-left"></span>
        <div id="tablaUsuarios">

            @Html.Partial("_PartialViewListaUsuarios", Model)

        </div>
    </div>
    
</div>

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function CrearUsuario() {
            $.ajax({
                method: 'POST',
                url: '/Usuarios/AjaxCrearUsuario',
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function ActualizarUsuario(idUsuario) {
            var id = idUsuario;
            $.ajax({
                method: 'POST',
                url: '/Usuarios/AjaxModificarUsuario',
                data: { 'id': id },
                success: function (response) {
                    $('.modal-body').html('');
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }

        function GuardarUsuario() {
            event.preventDefault(); // prevenir el comportamiento predeterminado del botón de envío
            var formData = new FormData($('form')[0]); // obtener los datos del formulario y serializarlos en FormData
            $.ajax({
                url: '@Url.Action("Guardar", "Usuarios")', // especificar la acción del controlador que manejará la solicitud
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // procesar la respuesta del servidor
                    $('#tablaUsuarios').html(result);
                    $('#myModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // manejar errores
                    console.log(error);
                }
            });
        }



    </script>
}
