h3, h2, h1 {
    color: #0CB0BB;
}

test {
    color: #0CB0BB;
}

imgSetting {
    border-radius: 10px;
}

.testStyle {
    color: red;
}

.arreglomargen {
    margin-top: 3%;
}

.tiles {
    border-radius: 20px;
    margin: 1vh;
    height: 17rem;
    width: 17rem;
}

.blueback {
    background-color: #0CB0BB;
    border-radius: 20px;
}

    .blackback h3, .blueback h2, .blueback h1 {
        color: #000000;
        text-align: center;
    }
.blackback h3, .blackback h2, .blackback h1 {
    color: #0CB0BB;
    text-align: center;
}

.blackback h2 {
    text-align: center;
}

.blackback {
    background-color: #3f3f3fe9;
    border-radius: 20px;
}

.blackbackInfo {
    background-color: #3f3f3fe9;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.parent {
    display: grid;
    place-items: center;
}

.contentImg {
    height: 17rem;
    width: 17rem;
    margin: 1vh;
    border-radius: 20px;
}

.contentImg1 {
    height: 125px;
    width: 125px;
    border-radius: 20px;
}

.editCard {
    border-radius: 20px;
    background-color: #4e4e4e99;
    height: 375px;
    margin: 1rem 0;
}

.custom-size {
    border-radius: 5px;
    width: 100%;
    color: #fff;
    padding: 7px
}


