h2, h1{
    color: #0CB0BB;
}
test {
    color: #0CB0BB;
}

imgSetting {
    border-radius: 10px;
}

.testStyle{
    color: red;
}

.arreglomargen{
    margin-top:3%;
}
.tiles {
    border-radius: 20px;
    margin: 1vh;
    height:300px;
    width:300px;
}
.blueback {
    background-color: #0CB0BB;
    border-radius: 20px;
}
    .blueback h2, .blueback h1 {
        color: #000000;
        text-align: center;
    }
.blackback h2 {
    text-align: center;
}

.blackback {
    background-color: #000000;
    border-radius: 20px;
}

.parent{
    display:grid;
    place-items:center;
}

.contentImg {
    height: 300px;
    width: 300px;
    margin: 1vh;
    border-radius: 20px;
}


