@{
    ViewBag.Title = "Acerca de";
}

<div data-aos="fade-up">
    <div class="text-center">
        <h1>Acerca del Condominio Las Luciérnagas</h1>
    </div>
    <div class="row blueback">
        <div class="col-lg-8">
            <p>Un moderno y elegante condominio ubicado en la hermosa ciudad de Coyol de Alajuela.</p>
            <p>En nuestro condominio encontrarás un ambiente seguro y acogedor para ti y tu familia. Nuestras instalaciones están diseñadas con los más altos estándares de calidad, brindando espacios amplios y cómodos para que disfrutes de tu hogar al máximo.</p>
            <p>En Condominio Las Luciérnagas, nos preocupamos por tu tranquilidad y comodidad, por lo que contamos con una variedad de amenidades que harán tu vida más fácil y placentera. Podrás disfrutar de una amplia piscina, un moderno gimnasio, áreas verdes y de recreación, y mucho más.</p>
            <p>Nuestra ubicación privilegiada en Coyol de Alajuela te permitirá disfrutar de un entorno tranquilo y seguro, con fácil acceso a importantes vías de comunicación y a las mejores áreas comerciales y de entretenimiento de la ciudad.</p>
            <p>En Condominio Las Luciérnagas, queremos que disfrutes de la mejor calidad de vida en un entorno moderno y seguro. Contáctanos y conoce más sobre nuestro condominio, ¡te esperamos!</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Assets/Acerca del.jpeg" class=" w-100 contentImg" alt="...">
        </div>
    </div>
</div>