@{
    ViewBag.Title = "Acerca de";
}

<div data-aos="fade-up">
    <div class="text-center">
        <h1>Acerca del Condominio Las Luciérnagas</h1>
    </div>
    <div class="row blueback">
        <div class="col-lg-8">
            <p>Un moderno y elegante condominio ubicado en la hermosa ciudad de Coyol de Alajuela.</p>
            <p>En nuestro condominio encontrarás un ambiente seguro y acogedor para ti y tu familia. Nuestras instalaciones están diseñadas con los más altos estándares de calidad, brindando espacios amplios y cómodos para que disfrutes de tu hogar al máximo.</p>
            <p>En Condominio Las Luciérnagas, nos preocupamos por tu tranquilidad y comodidad, por lo que contamos con una variedad de amenidades que harán tu vida más fácil y placentera. Podrás disfrutar de una amplia piscina, un moderno gimnasio, áreas verdes y de recreación, y mucho más.</p>
            <p>Nuestra ubicación privilegiada en Coyol de Alajuela te permitirá disfrutar de un entorno tranquilo y seguro, con fácil acceso a importantes vías de comunicación y a las mejores áreas comerciales y de entretenimiento de la ciudad.</p>
            <p>En Condominio Las Luciérnagas, queremos que disfrutes de la mejor calidad de vida en un entorno moderno y seguro. Contáctenos y conoce más sobre nuestro condominio, ¡te esperamos!</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Assets/Acerca del.jpeg" class=" w-100 contentImg" alt="...">
        </div>
    </div>
</div>

<hr />

<div class="jumbotron col-sm-12">
    <div data-aos="fade-up">
        <div class="text-center">
            <h1>Áreas Comunes</h1>
        </div>
        <h3 class="text-center">Ranchos</h3>
        <div class="row blueback">
            <div class="col-lg-4 col-sm-12">
                <img src="~/Assets/condominio3.jpg" class="d-block w-100 contentImg" alt="...">
            </div>
            <div class="col-lg-8 col-sm-12 d-flex align-items-center justify-content-center">
                <p class="lead">Contamos con varios ranchos para desarrollar actividades familiares y con amigos, incluyendo parrillas, electricidad y agua en cada uno de ellos</p>
            </div>
        </div>
    </div>

    <div data-aos="fade-up">
        <h3 class="text-center">Piscinas</h3>
        <div class="row blackback">
            <div class="col-lg-4 col-sm-12">
                <img src="~/Assets/condominio2.jpg" class="d-block w-100 contentImg" alt="...">
            </div>
            <div class="col-lg-8 col-sm-12 d-flex align-items-center justify-content-center">
                <p class="lead">Contamos con piscinas para el disfrute de la familia, en las cuales puede refrescarse en una de las hermosas tardes de verano Alajuelenses</p>
            </div>
        </div>
    </div>
    <div data-aos="fade-up">
        <h3 class="text-center">Sala de Eventos</h3>
        <div class="row blueback">
            <div class="col-lg-4 col-sm-12">
                <img src="~/Assets/ICAZA_1.jpg" class="d-block w-100 contentImg" alt="...">
            </div>
            <div class="col-lg-8 col-sm-12 d-flex align-items-center justify-content-center">
                <p class="lead">En nuestra sala de eventos podrá celebrar cualquier tipo de evento que desee, con un espacio y ambientación inigualables</p>
            </div>
        </div>
    </div>
    <div data-aos="fade-up">
        <h3 class="text-center">Coworking Spaces</h3>
        <div class="row blackback">
            <div class="col-lg-4 col-sm-12">
                <img src="~/Assets/shutterstock_352308875.jpg" class="d-block w-100 contentImg" alt="...">
            </div>
            <div class="col-lg-8 col-sm-12 d-flex align-items-center justify-content-center">
                <p class="lead">Contamos con pequeños cubículos donde usted podrá desarrollar su home office con la mayor satisfacción del mundo y rodeado de todas las necesidades básicas en estos ambientes</p>
            </div>
        </div>
    </div>
</div>