@{
    ViewBag.Title = "Contactanos";
}
<div  data-aos="fade-up">
    <div class="text-center">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="row blueback">
        <div class="col-lg-8">
            <address>
                Coyol, Alajuela<br />
                KM26, Ruta Principal<br />
                <abbr title="Telefono">tel:</abbr>
                2424-4242
            </address>
            <strong>Escribenos tus dudas o consultas:</strong>   <a href="mailto:LuminCondo@gmail.com">LuminCondo@gmail.com</a><br />
        </div>
        <div class="col-lg-4">
            <img src="~/Assets/Logo LuminCondo.jpg" class="contentImg" alt="...">
        </div>
    </div>
</div>