@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LuminCondo</h1>
    <p class="lead">Aplicacion del condominio La Luminaria, para el manejo y comodidad del condimonio</p>
    @*<p><a href="ab" class="btn btn-primary btn-lg">Más información... &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reserva tus Areas Comunes</h2>
        <p>
            Dentro del condominio contamos con diferentes espacios recreativos, los cuales deben ser reservados para uso de eventos privados
        </p>
        <p><a class="btn btn-default" href="">Más información... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion de Deudas</h2>
        <p>Como dueño, en esta seccion podra ver sus deudas pendientes con el condominio</p>
        <p><a class="btn btn-default" href="">Más información...&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noticias</h2>
        <p>En esta seccion lo mantendremos informado con la gran variedad de información de relevancia en el condominio</p>
        <p><a class="btn btn-default" href="">Más información... &raquo;</a></p>
    </div>
</div>