@model IEnumerable<Infraestructure.Models.Carros>


<button class="btn btn-primary" onclick="CrearCarro()"><i class="fa-solid fa-plus"></i> Añadir Nuevo Carro</button>

<table class="table table-hover">
    <tr>
        <th>Placa</th>
        <th>Modelo</th>
        <th>Tipo de Permiso</th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPlaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelo)
            </td>
            <td>
                @if (item.tipo == true)
                {
                    <p>Residente</p>
                }
                else
                {
                    <p>Invitado</p>
                }
            </td>
            <td>
                <div class="text-center">
                    <a href="@Url.Action("EditCarro","ListaResidencias", new { id = item.IDPlaca })" class="btn btn-primary">
                        Modificar
                    </a>
                </div>
            </td>
        </tr>
    }

</table>