@model IEnumerable<Infraestructure.Models.GestionPlanCobros>

@{
    ViewBag.Title = "Listado de Planes";
}
<div class="text-center">
    <h2>Listado de Planes</h2>
</div>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="col-lg-12">
    <div id="resultado" class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body" style="background-color: #515151e9; height: 300px;">
                        <h5 class="card-title" style="font-size: 28px; font-weight: 1000; color: #0CB0BB;">Plan @Html.DisplayFor(modelItem => item.IDPlan)</h5>
                        <div class="text-center">
                            <a href="@Url.Action("Details","GestionPlanCobros", new { id = item.IDPlan })" class="btn btn-primary">Detalles del plan</a>
                        </div>
                        <div class="card-body">
                            <p> @Html.DisplayFor(modelItem => item.descripcion)</p>
                            <img src="~/Assets/Logo LuminCondo.jpg" class="d-block contentImg1" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


