

@{
    ViewBag.Title = "Acceso Denegado";
}

<div data-aos="fade-up" class="text-center">
    <h2>Acceso Denegado</h2>

    <input type="button" value="Regresar" class="btn btn-danger" onclick="goBack()" />

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
